/**
* {{ properCase componentName }}
*/

import { memo } from 'react';

interface Props {}

export const {{ properCase componentName }} = (props: Props) => {
  return (<p>{{ properCase componentName }}</p>);
};

export default memo({{properCase componentName}});